@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* style for background  and skroll*/
body {
  font-family: 'Montserrat';
  text-align: center;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track{
background: rgb(178, 177, 177);
}
::-webkit-scrollbar-thumb {
  background: #1d1c1c;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* style for h1 */
h1{
  padding-top: 50px;
}
/* style for input */
input{
  margin-top:100px ;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  padding: 5px;
  color: white;
  margin-bottom: 100px;
}
input::placeholder{
  color: white;
}
/* style for card */
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.card_item{
  transition: ease 0.3s;
  padding: 20px;
  border-radius: 30px;
  background: white;
  color: black;
}
.card_item:hover{
  padding: 25px;
}